/*
OLD CSS
.red_border {
	border : 1px solid #d77;
}

.dm-menuitem {
	width: 100%;
}

.dm-menuitem .z-menu-item-cnt, .dm-menuitem .dm-menuitem-btn {
	display: none;
}

.title .z-menu-item-cnt, .title .title-btn {
	color : black; 
	font-weight : bolder; 
	border : none;
	background : transparent;
}*/

body {
	font-family : Verdana;
	background : url(../images/style/navbar-bg.png) #f0eee3 repeat-x;
}

/***************************** GROUPBOX STYLE *****************************/

.z-groupbox-3d-hm {
	background: transparent repeat-x 0 0;
	background-image: url(../images/style/bar-bg.png);
	overflow: hidden;
	border: 1px solid #f5f5f5;
	zoom: 1;
	cursor: default;
	color : white;
}

.z-groupbox-3d-cnt {
	border: 1px solid #f5f5f5;
	padding: 0px;
}

.z-groupbox-3d-hl .z-groupbox-3d-header {
    color: #fff;
    font-family: arial,sans-serif;
    font-size: 12px;
    font-weight: bold;
}

/***************************** GRID STYLE *****************************/

.tournament_grid {
	background : #FBF5EF;
	font-size : 8pt;
	height : 100%;
}

.tournament_grid tr.z-row td.z-row-inner, .tournament_grid tr.z-row .z-cell {
	background : #FBF5EF;
	border : 1px solid #f5f5f5;
}

.z-row-cnt .z-label {
	color : #222;
}

/***************************** MENU BAR *****************************/

.navbar-logo {
	background : url(../images/style/navbar-logo.png) transparent no-repeat;
	width : 428px;
	height : 50px;
	border : none;
}

.logo-btn {
	border : none; 
	background : transparent;
}

.logo-cnt, .logo-disd {
	height : 50px;
}

.navbar {
	
	height : 50px;
	width : 100%;
	margin-left : -10px;
	padding-right : 15px;
}

/***************************** BUTTON STYLE *****************************/

.button,  .z-messagebox-btn {
	background : url(../images/style/bar-bg.png) transparent repeat-x;
	color : white;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	border:1px solid #888;
	display:inline-block;
	cursor:pointer;
	font-weight : 700;
	text-shadow:0px 1px 0px #000;
	padding-top : 7px;
	padding-bottom : 7px;
}

.button:hover,  .z-messagebox-btn:hover {
	background : url(../images/style/navbar-bg-inverse.png) transparent repeat-x;
}

.button:active {
	background : url(../images/style/navbar-bg-inverse-active.png) transparent repeat-x;
}

.button .z-button-cl, .button .z-button-cr,
.button .z-button-tm, .button .z-button-tr,
.button .z-button-bl, .button .z-button-bm, .button .z-button-br {
	display : none;
} 

.button .z-button-cm, .button .z-button-tl {
	background : transparent;
	color : white;
	font-weight : 700;
}
 
.button_upload {
	height : 17px; 
}

.z-upload,.z-upload input {
	height: 31px !important;
	clip: rect(auto auto auto auto);
	top : 22px;
	color : white;
}
 /*
.z-upload {
	background: transparent url(../images/style/bar-bg.png) left top no-repeat;
}

.z-upload input {
	opacity: 0;
}
*/


.active {
	background : url(../images/style/bar-bg-0.png) transparent repeat-x;
}

.icon {
	padding : 4px 5px 5px 5px;
	margin: 5px 0px 0px 0px;
}

.left {
	-moz-border-radius-topleft:  8px;
	border-top-left-radius:      8px;
	-moz-border-radius-bottomleft:  8px;
	border-bottom-left-radius:      8px;
	-moz-border-radius-topright:  0px;
	border-top-right-radius:      0px;
	-moz-border-radius-bottomright:  0px;
	border-bottom-right-radius:      0px;
	padding-left : 12px;
	padding-right : 12px;
	margin: 0px;
}

.center {
	-moz-border-radius-topleft:  0px;
	border-top-left-radius:      0px;
	-moz-border-radius-bottomleft:  0px;
	border-bottom-left-radius:      0px;
	-moz-border-radius-topright:  0px;
	border-top-right-radius:      0px;
	-moz-border-radius-bottomright:  0px;
	border-bottom-right-radius:      0px;
	padding-left : 12px;
	padding-right : 12px;
	margin: 0px;
}

.right {
	-moz-border-radius-topleft:  0px;
	border-top-left-radius:      0px;
	-moz-border-radius-bottomleft:  0px;
	border-bottom-left-radius:      0px;
	-moz-border-radius-topright:  8px;
	border-top-right-radius:      8px;
	-moz-border-radius-bottomright:  8px;
	border-bottom-right-radius:      8px;
	padding-left : 12px;
	padding-right : 12px;
	margin: 0px;
}

.button_0 {
	background : url(../images/style/bar-bg-0.png) transparent repeat-x;
}

.button_1 {
	background : url(../images/style/bar-bg-1.png) transparent repeat-x;
}

.button_2 {
	background : url(../images/style/bar-bg-2.png) transparent repeat-x;
}

/***************************** LISTBOX STYLE *****************************/

.z-listheader, .z-columns {
	background : url(../images/style/navbar-bg.png) transparent repeat-x;
}

div.z-listheader-cnt, span.z-tab-text, div.z-column-cnt {
	color : white;
}

div.z-column-cnt {
	height : 20px;
	margin-top : 5px;
}

.z-listcell-cnt .z-label {
	color : #222;
}

/***************************** TAB STYLE *****************************/

.z-tab, .z-tab-hm, .z-tab-hl, .z-tab-hr {
	background : url(../images/style/navbar-bg.png) transparent repeat-x;
	color : white;
	margins : 0;
	padding: 0;
	
	-moz-border-radius-topleft:  8px;
	border-top-left-radius:      8px;
	-moz-border-radius-topright:  8px;
	border-top-right-radius:      8px;
}

/*.z-tab-ver, .z-tab-ver-hm, .z-tab-ver-hl, .z-tab-ver-hr, 
.z-tab-ver-hl .z-tab-ver-hr, .z-tab-ver .z-tab-ver-hm {
	background : url(../images/style/navbar-bg.png) transparent repeat-x;
	color : white;
	margins : 0;
	padding: 0;
	
	-moz-border-radius-topleft:  8px;
	border-top-left-radius:      8px;
	-moz-border-radius-bottomleft:  8px;
	border-bottom-left-radius:      8px;
}*/

.z-tab:hover, .z-tab-hl:hover, .z-tab-hm:hover, .z-tab-hr:hover {
	background : url(../images/style/navbar-bg-inverse.png) transparent repeat-x;
	color : white;
	margins : 0;
	padding: 0;
	
	-moz-border-radius-topleft:  8px;
	border-top-left-radius:      8px;
	-moz-border-radius-topright:  8px;
	border-top-right-radius:      8px;
}

/*.z-tab-ver:hover, .z-tab-ver-hm:hover, .z-tab-ver-hl:hover, .z-tab-ver-hr:hover, 
.z-tab-ver:hover .z-tab-ver-hm:hover, .z-tab-ver-hl:hover .z-tab-ver-hr:hover {
	background : url(../images/style/navbar-bg-inverse.png) transparent repeat-x;
	color : white;
	margins : 0;
	padding: 0;
	
	-moz-border-radius-topleft:  8px;
	border-top-left-radius:      8px;
	-moz-border-radius-bottomleft:  8px;
	border-bottom-left-radius:      8px;
}
*/

.z-tab .z-tab-hl:hover .z-tab-text {
	color: white;
}

.z-tab {
	border:1px solid #888;
}

.z-tab .z-tab-text, .z-tab-ver .z-tab-ver-text  {
	color : white;
	
	font-size : 11pt;
	font-weight : bolder;
	
	padding-left : 10px;
	padding-right : 10px;
	padding-bottom : 5px;
	padding-top : 6px;
}

li.z-tab-seld .z-tab-text, li.z-tab-ver-seld .z-tab-text {
	background : url(../images/style/navbar-bg-inverse.png) transparent repeat-x;
	padding-left : 10px;
	font-size : 11pt;
	font-weight : bolder;
	padding-bottom : 5px;
	padding-top : 6px;
}

.z-tabpanel {
	background-color : #888;
	padding : 1px;
}

.result_tab {
	background : url(../images/style/navbar-bg.png) transparent repeat-x;
}

.round_tab {
	background : url(../images/style/navbar-bg.png) transparent repeat-x;
	padding-top : 5px; 
	padding-bottom : 5px;
}

/***************************** MODAL WINDOW *****************************/

.modal .modal-shadow, .z-messagebox-window {
	background : url(../images/style/navbar-bg.png) #f0eee3 repeat-x;
}

.z-window-modal-hm, .z-window-modal-br,
.z-window-modal-cr, .z-window-modal-cl,
.z-window-modal-hr, .z-window-modal-tr,
.z-window-modal-hl, .z-window-modal-tl,
.z-window-modal-bl, .z-window-modal-cnt,
 .z-window-modal-cm { 
   background : transparent;
   border : none;
}

.z-window-modal-icon {
	display : none;
}

.z-messagebox-window .z-window-modal-cnt {
	padding-top : 25px;
	color : #000;
}

.modal {
	background : url(../images/style/navbar-bg.png) #f0eee3 repeat-x;
	-moz-border-radius-topleft:  8px;
	border-top-left-radius:      8px;
	-moz-border-radius-topright:  8px;
	border-top-right-radius:      8px;
}

.modal .modal-hl, .modal-header, .z-window-modal-header {
	height : 35px;
	color : white;
	padding-top : 8px;
	padding-left : 10px;
	font-weight : bolder;
	font-size : 12pt;
}

.modal-cnt {
	padding-left : 10px;
	padding-right : 10px;
	padding-bottom : 5px;
	padding-top : 16px;
	
	border-left: 1px solid #888;
	border-right: 1px solid #888;
	border-bottom: 1px solid #888;
	
	-moz-border-radius-bottomleft:  8px;
	border-bottom-left-radius:      8px;
	-moz-border-radius-bottomright:  8px;
	border-bottom-right-radius:      8px;
}

.modal .z-grid, .modal-cnt .z-grid-body, .modal-cnt .z-grid-body .z-row-inner {
	background : transparent;
	border : none;
}
